<h1><%= @blog.title %></h1>
<div class="main">
  <div class="content">
    <p><%=raw @blog.cut %></p>
    <p><%=raw @blog.content %></p>
    <!--div class="visual">
      <img src="/assets/image02.gif" width="686" height="459" alt="image description" />
    </div-->
    <div class="bottom-panel">
      <% if @blogNext %>
        <%= link_to @blogNext.title + '->', '/blog_inside/' + @blogNext.id.to_s, :class=>"next" %>
      <% end %>
      <% if @blogPrev %>
        <%= link_to '<-' + @blogPrev.title, '/blog_inside/' + @blogPrev.id.to_s, :class=>"prev" %>
      <% end %>
      <div class="likeit">
        <div class="facebook"><img src="/assets/fb.gif" alt="fb" width="177" height="24" /></div>
        <div class="twitter"><img src="/assets/twitter.gif" alt="twitter" width="98" height="22" /></div>
      </div>
    </div>
  </div>
  <div class="aside">
    <h2>Еще, похожие на дизайн:</h2>
    <ul class="items-list">
      <% @projects.each do |project| %>
      <li>
      <a href="/inside_project/<%= project.id %>/">
        <%= image_tag(project.thumbnail, :size => "98x97") %>
        <span class="mask"></span>
      </a>
      </li>
      <% end %>
    </ul>
  </div>
</div>