<div class="top-panel">
  <div class="profile">
    <div class="photo-holder">
      <div class="photo">
        <%= image_tag(@person.avatar, :size => "151x151") %>
        <span class="mask"></span>
      </div>
      <ul class="socials">
        <% if @person.facebook_url %>
          <li>
            <a href="<%= @person.facebook_url %>"><img src="/assets/facebook.gif" width="19" height="19" alt="facebook" /></a>
          </li>
        <% end %>
        <% if @person.twitter_url %>
          <li>
            <a href="<%= @person.twitter_url %>"><img src="/assets/twitter2.gif" width="19" height="19" alt="twitter" /></a>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="text">
      <h1><%= @person.name %></h1>
      <%=raw  @person.about %>
      <div class="likeit">
        <div class="facebook"><img src="/assets/fb.gif" alt="fb" width="177" height="24" /></div>
        <div class="twitter"><img src="/assets/twitter.gif" alt="twitter" width="98" height="22" /></div>
      </div>
    </div>
  </div>
</div>
<div class="main">
  <div class="content">
    <% if @works.count > 0 %>
      <p>Я предлагаю:</p>
      <ul class="works-list">
        <% @works.each do |work| %>
          <li>
            <a href="/inside_project/<%= work.id %>/">
              <%= image_tag(work.thumbnail, :size => "174x173") %>
              <span class="mask"></span>
            </a>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
  <div class="bottom-box">
    <h2>Другие участники:</h2>
    <ul class="items-list">
      <% @people.each do |person| %>
      <li>
      <a href="/profile/<%= person.id.to_s %>">
        <%= image_tag(person.avatar, :size => "101x101") %>
        <span class="mask"></span>
      </a>
      </li>
    <% end %>
    </ul>
  </div>
</div>