  <div id='header'>
    I'm header. Find me in layouts/_header.html.erb
    <div id='menu'>
      <%# Direct links%>
      <%= link_to "Index", '/' %>
      <%= link_to "Блог", '/blog' %>
      <%= link_to "Агенство", '/agency' %>
      <%= link_to "Портфолио", '/portfolio' %>
      <%= link_to "Проекты", '/projects' %>
      <%= link_to "Контакты", '/contacts' %>
    </div>
  </div>
